# Ignore directories containing Keylime source fetched from remote repo
*keylime*/

# Ignore Packer/Terraform variable files except those in the defaults directory
*.pkrvars.hcl
*.pkrvars.json
*.tfvars
*.tfvars.json
!defaults/*.pkrvars.hcl
!defaults/*.tfvars

#######################################################################
# Ignored paths below from https://github.com/github/gitignore/blob/main/Terraform.gitignore

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc